*.suo
*.dll
*.cache
*.pdb
*.user
*.jfm
*.dbmdl
*.sqlproj.FileListAbsolute.txt
*.csproj.FileListAbsolute.txt
*.exe
*.exe.config
*.AssemblyAttributes.cs
*.publish.sql
DeploymentReport*.txt
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
**/bin/Debug
**/bin/Release
**/obj
**/obj/Debug
**/obj/Release
**/.vs
*/**/.vs
u**/.vs
*/**/obj/*.csproj.*
*/**/obj/*
*.manifest

/configs/*
!/configs/Migration-MigrateAndImportToSalesforce.json
!/configs/Migration-ExportFromSalesforce.json
!/configs/Migration-ExportFromSalesforce.json
!/configs/MigrationToolDatabase.publish.xml